{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  {% if category %}
    <h1>{{ category.name }}</h1>
  {% elif search_term %}
    <h1>Search Results for "{{ search_term }}"</h1>
  {% else %}
    <h1>Search Training Lessons</h1>
  {% endif %}
  <div class="row">
    {% for training in page_obj.object_list %}
      <div class="col-item max-width-training-card">
        <div class="card">
          {% if training.thumbnail %}
            <img src="{{ training.thumbnail.url }}" class="card-img-top" alt="{{ training.title }}">
          {% else %}
            <img src="{% static 'products/placeholder.png' %}" class="card-img-top" alt="No Thumbnail">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ training.title }}</h5>
            <p class="card-text">{{ training.description|truncatewords:8 }}</p>
            <a href="{% url 'training:training_detail' training.pk %}" class="btn btn-primary">Watch Lesson</a>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <p>No training videos found in this category.</p>
      </div>
    {% endfor %}
  </div>

  <!-- Pagination Controls -->
  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
</div>
{% endblock %}