{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Lessons</h1>
  <div class="row">
    {% for training in page_obj %}
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="product-card">
        <div class="product-contents">
          {% if training.thumbnail %}
            <img src="{{ training.thumbnail.url }}" class="card-img-top" alt="{{ training.title }}">
          {% else %}
            <img src="{% static '../media/products/placeholder.png' %}" class="card-img-top" alt="No Thumbnail">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ training.title }}</h5>
            <p class="card-text">{{ training.description|truncatewords:15 }}</p>
            <a href="{% url 'training:training_detail' training.pk %}" class="btn btn-primary">Watch Lesson</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> 
</div>
{% endblock %}