{% extends "base.html" %}
{% load static %}

{% block title %}Subscription{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Subscription</h2>

    <!-- Display subscription status -->
    {% if subscription %}
        {% if subscription.active and subscription.expiry_date > now %}
            <p>Your {{ subscription.subscription_type }} subscription is active until {{ subscription.expiry_date|date:"M d, Y" }}.</p>
            <a href="#" class="btn btn-primary" id="manage-subscription">Manage Subscription</a>
        {% else %}
            <p>Your subscription has expired or is inactive.</p>
            <a href="#" data-checkout-url="{% url 'subscriptions:purchase' %}?price_id={{ STRIPE_PRICE_ID_YEARLY }}" class="btn btn-success" id="renew-subscription">Renew Subscription</a>
        {% endif %}
    {% else %}
        <p>You don't have a subscription yet.</p>
        <a href="#" data-checkout-url="{% url 'subscriptions:purchase' %}?price_id={{ STRIPE_PRICE_ID_MONTHLY }}" class="btn btn-success" id="purchase-subscription">Purchase Monthly Subscription</a>
        <a href="#" data-checkout-url="{% url 'subscriptions:purchase' %}?price_id={{ STRIPE_PRICE_ID_YEARLY }}" class="btn btn-success" id="purchase-subscription-yearly">Purchase Yearly Subscription</a>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}

  <!-- Stripe's JS library -->
  <script src="https://js.stripe.com/v3/"></script>
  <script>
      var STRIPE_PUBLISHABLE_KEY = "{{ STRIPE_PUBLISHABLE_KEY }}";
      var CSRF_TOKEN = "{{ csrf_token }}";
  </script>
  <script src="{% static 'js/subscribe.js' %}"></script>
{% endblock %}