{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <header class="text-center position-relative bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <section class="container d-flex align-items-center justify-content-center" style="height: 60vh;">
    <div class="text-center">
      <h1 class="display-4 fw-bold mb-4">Welcome</h1>
      
      <!-- Shop  Btn -->
      <a href="{% url 'products:products_display' %}" class="btn-shop-train btn btn-dark btn-lg px-5 py-3 text-uppercase fw-semibold shadow-sm">
        Shop Here
      </a>

      <!-- Train  Btn -->
      <a href="{% url 'training:training_display' %}" class="btn-shop-train btn btn-dark btn-lg px-5 py-3 text-uppercase fw-semibold shadow-sm">
        Train Here
      </a>
      
    </div>
  </section>
{% endblock %}