{% extends "base.html" %}

{% block content %}
<div class="basket">
    <div class="basket-contents">
    <h1>Your Basket</h1>

    <!-- If the basket is not empty, display the basket contents -->
    {% if basket|length > 0 %}
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Adjust basket</th>
                </tr>
            </thead>
            <tbody>
                
                <!-- Loop through each item in the basket -->
                {% for item in basket %}
                    <tr id="basket-row-{{ item.product.id }}">
                        <td>{{ item.product.name|truncatewords:3 }}</td>
                        <td id="basket-price-{{ item.product.id }}">€{{ item.price|floatformat:2 }}</td>
                        <td id="basket-quantity-{{ item.product.id }}">{{ item.quantity }}</td>
                        <td id="basket-subtotal-{{ item.product.id }}">€{{ item.total|floatformat:2 }}</td>
                        <td>
                            <a href="{% url 'basket_add' item.product.id %}" class="btn btn-sm btn-outline-success add-to-basket">Add</a>
                            <a href="{% url 'basket_remove' item.product.id %}" class="btn btn-sm btn-outline-danger remove-from-basket">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <hr class="custom-hr">
        <p class="basket-grand-total">Total Price: €<span id="basket-grand-total">{{ grand_total|floatformat:2 }}</span></p>
{% else %}
    <p>Your basket is empty.</p>    
{% endif %}
    </div>
    </div>

    <!-- Buttons to continue shopping or proceed to checkout -->
    <div class="buttons">
    <a href="{% url 'products:products_display' %}" class="btn btn-dark">Continue shopping</a>
    <a href="{% url 'payments:checkout' %}" class="btn btn-light btn-outline-success">Proceed to checkout</a>  
    </div>
{% endblock %}