{% extends "base.html" %}

{% block content %}
<div class="container basket">
    <h1>Your Basket</h1>
    {% if basket|length > 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Adjust basket</th>
                </tr>
            </thead>
            <tbody>
                {% for item in basket %}
                    <tr id="basket-row-{{ item.product.id }}">
                        <td>{{ item.product.name }}</td>
                        <td>€{{ item.price }}</td>
                        <td id="basket-quantity-{{ item.product.id }}">{{ item.quantity }}</td>
                        <td>€{{ item.total_price }}</td>
                        <td>
                            <a href="{% url 'basket_add' item.product.id %}" class="btn btn-sm btn-outline-success add-to-basket">Add</a>
                            <a href="{% url 'basket_remove' item.product.id %}" class="btn btn-sm btn-outline-danger remove-from-basket">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr class="custom-hr">
        <p>Total Price: €{{ basket.get_total_price }}</p>
{% else %}
    <p>Your basket is empty.</p>
{% endif %}
    </div>
    <div class="buttons">
    <a href="{% url 'products:products_display' %}" class="btn btn-dark">Continue shopping</a>
    <a href="" class="btn btn-light btn-outline-success">Proceed to checkout</a> 
    </div>
{% endblock %}