{% extends "baseallauth.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Verify Your Email Address" %}
    {% endelement %}
    <ul>
        <li>{% blocktrans %}We have sent an email to you for verification.{% endblocktrans %}</li>
        <li>{% blocktrans %}Follow the link provided to finalize the signup process.{% endblocktrans %}</li>
        <li>{% blocktrans %}The link will redirect you back to the website where you can then sign in.{% endblocktrans %}</li>
        <li>{% blocktrans %}If you do not see the verification email in your main inbox, check your spam folder.{% endblocktrans %}</li>
        <li>{% blocktrans %}Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}</li>
      </ul>      
{% endblock content %}
